<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- Forma profesional de enlazar el CSS en el <head> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_2_3_4.css') }}">

<body>
    <h1>Prueba de archivos estáticos</h1>

<article>
<!-- Forma profesional de mostrar una imagen -->
<img src="{{ url_for('static', filename='img/tenis.jpg') }}" alt="tenis">

<img src="{{ url_for('static', filename='img/bici.jpeg') }}" alt="bici">

<img src="{{ url_for('static', filename='img/sofa.jpeg') }}" alt="Logo">
</article>

<h1><ul>
    {% for fav in favs %}
        <li>{{ fav.nombre }} - Categoría: {{ fav.motivo }}</li>
    {% endfor %}
</ul></h1>

</body>

<footer>
    <h2>Lista generada por Álvaro Rodríguez</h2>
</footer>
</html>